#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        cursor_nav: cursor_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "CURSOR_NAV";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <500>;
            flavor = "balanced";
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        kp_COPY {
            bindings = <&kp_COPY>;
            key-positions = <31 30>;
        };

        kp_CUT {
            bindings = <&kp_CUT>;
            key-positions = <32 30>;
        };

        kp_PASTE {
            bindings = <&kp_PASTE>;
            key-positions = <32 31>;
        };

        kp_AMPERSAND {
            bindings = <&kp AMPERSAND>;
            key-positions = <10 25>;
        };

        kp_AT {
            bindings = <&kp AT_SIGN>;
            key-positions = <2 15>;
        };

        kp_BACKSLASH {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <31 16>;
        };

        kp_BACKSPACE {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        kp_BACKTICK {
            bindings = <&kp GRAVE>;
            key-positions = <30 15>;
        };

        kp_BRBRCLOSE {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <38 39>;
        };

        kp_BRBROPEN {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <38 37>;
        };

        kp_CARET {
            bindings = <&kp CARET>;
            key-positions = <22 7>;
        };

        kp_DELETE {
            bindings = <&kp DELETE>;
            key-positions = <9 10>;
        };

        kp_DOLLAR {
            bindings = <&kp DOLLAR>;
            key-positions = <4 17>;
        };

        kp_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <24 25>;
        };

        kp_EQUAL {
            bindings = <&kp EQUAL>;
            key-positions = <32 17>;
        };

        kp_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };

        kp_HASH {
            bindings = <&kp HASH>;
            key-positions = <16 3>;
        };

        kp_MINUS {
            bindings = <&kp MINUS>;
            key-positions = <37 23>;
        };

        kp_PERCENT {
            bindings = <&kp PERCENT>;
            key-positions = <5 18>;
        };

        kp_PIPE {
            bindings = <&kp PIPE>;
            key-positions = <39 25>;
        };

        kp_PLUS {
            bindings = <&kp PLUS>;
            key-positions = <8 23>;
        };

        kp_SLASH {
            bindings = <&kp SLASH>;
            key-positions = <38 24>;
        };

        kp_STAR {
            bindings = <&kp STAR>;
            key-positions = <24 9>;
        };

        kp_TAB {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };

        kp_TILDE {
            bindings = <&kp TILDE>;
            key-positions = <33 18>;
        };

        kp_UNDERSCORE {
            bindings = <&kp UNDER>;
            key-positions = <36 22>;
        };

        sk_MEH {
            bindings = <&sk LS(LC(LEFT_ALT))>;
            key-positions = <46 47>;
        };

        kp_ALTSPACE {
            bindings = <&kp LA(SPACE)>;
            key-positions = <46 45>;
        };
    };

    macros {
        kp_COPY: kp_COPY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
            label = "kp_COPY";
        };

        kp_CUT: kp_CUT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(X)>;
            label = "kp_CUT";
        };

        kp_PASTE: kp_PASTE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
            label = "kp_PASTE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp LALT        &kp Q  &kp W  &kp E     &kp R  &kp T                        &none         &kp Z        &kp U        &kp I      &kp O    &kp P     &kp BSPC
&td0            &kp A  &kp S  &kp D     &kp F  &kp G                 &none  &none  &none  &kp H        &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&lt 4 CAPSLOCK  &kp Y  &kp X  &kp C     &kp V  &kp B        &none           &none         &kp N        &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                              &kp LGUI  &mo 1  &lt 3 SPACE                                &lt 3 ENTER  &lt 2 SPACE  &kp RALT
            >;

            // sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;

            sensor-bindings = <&inc_dec_kp N2 N1>;
        };

        NUMBER {
            display-name = "NUMBER";
            bindings = <
&none  &none  &none  &none   &none   &none                   &none         &kp N7        &kp N8  &kp N9  &kp KP_MULTIPLY  &none      &none
&none  &none  &none  &none   &none   &none            &none  &none  &none  &kp N4        &kp N5  &kp N6  &kp MINUS        &kp EQUAL  &none
&none  &none  &none  &none   &none   &none   &none           &none         &kp N1        &kp N2  &kp N3  &kp PLUS         &kp ENTER  &none
                     &trans  &trans  &trans                                &kp LEFT_ALT  &none   &kp N0
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        SYMBOL {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                            &mmv MOVE_UP                     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&trans  &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5   &trans                    &mmv MOVE_DOWN                   &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                    &trans     &trans     &kp SPACE                                                             &kp RET    &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        CURSOR_NAV {
            display-name = "CURSOR_NAV";
            bindings = <
&none  &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP      &msc SCRL_RIGHT  &msc SCRL_UP                    &none         &kp PAGE_UP    &none                        &cursor_nav LC(HOME) UP_ARROW  &none                  &none          &none
&none  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN    &mmv MOVE_RIGHT  &msc SCRL_DOWN           &none  &none  &none  &kp PAGE_DOWN  &cursor_nav HOME LEFT_ARROW  &cursor_nav LC(END) DOWN       &cursor_nav END RIGHT  &none          &none
&none  &kp LEFT_WIN    &kp LEFT_ALT    &kp LEFT_CONTROL  &kp LEFT_SHIFT   &none           &none           &none         &none          &kp RIGHT_SHIFT              &kp RIGHT_CONTROL              &kp RIGHT_ALT          &kp RIGHT_WIN  &none
                                       &trans            &trans           &trans                                        &mkp LCLK      &mkp MCLK                    &mkp RCLK
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        MAGIC {
            display-name = "RGB_BT";
            bindings = <
&studio_unlock  &rgb_ug RGB_COLOR_HSB(360,99,50)   &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                  &none         &none  &none  &none  &none  &bt BT_CLR  &bt BT_CLR_ALL
&bootloader     &rgb_ug RGB_COLOR_HSB(125,100,50)  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF           &none  &none  &none  &none  &none  &none  &none  &none       &bootloader
&sys_reset      &rgb_ug RGB_COLOR_HSB(240,100,50)  &none            &none            &none            &none            &none           &none         &none  &none  &none  &none  &none       &sys_reset
                                                                    &bt BT_SEL 0     &bt BT_SEL 1     &out OUT_USB                                   &none  &none  &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
